<!DOCTYPE html5>
<html>
<head>
<meta charset="UTF-8"> 
<title>vatic</title>

<link rel="stylesheet" type="text/css" href="/static/video_tasks/CITIS/stylesheet.css?v=1">
<link rel="stylesheet" type="text/css" href="/static/video_tasks/stylesheet.css?v=1">
<link rel="stylesheet" type="text/css" href="/static/video_tasks/jquery-ui/jquery-ui.min.css">

<script src="/static/video_tasks/javascript.js"></script>
<script src="/static/video_tasks/jquery-migrate-1.4.1.min.js"></script>
<script src="/static/video_tasks/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/video_tasks/videoplayer.js?v=1"></script>
<script src="/static/video_tasks/preload.js?v=1"></script>
<script src="/static/video_tasks/objectui.js?v=1"></script>
<script src="/static/video_tasks/ui.js"></script>
<script src="/static/video_tasks/instructions.js?v=1"></script>
<script src="/static/video_tasks/job.js"></script>
<script src="/static/video_tasks/tracks.js?v=1"></script>
<script src="/static/video_tasks/bootstrap.js?v=1"></script>

</head>
<body>

<div id="container">

</div>

</body>
</html>
