{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <title>视频标记管理系统</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>

    <!--static navbar-->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          </button>
          <a class="navbar-brand" href="{% url 'video_tasks:index' %}">
            视频标记系统vatic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'video_tasks:tasks' %}">任务列表</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbat-right">
            {% if user.is_authenticated %}
              <li><a>{{ username }}</a></li>
              <li><a href="{% url 'userApp:logout' %}">注销用户</a></li>
            {% else %}
              <li><a href="{% url 'userApp:register' %}">注册</a></li>
              <li><a href="{% url 'userApp:login' %}">登录</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'video_tasks:admin' %}">管理员登录</a></li>
          </ul>
        </div> <!--/.nav-collapse-->

      </div></nav>

      <div class="container">

        <div class="page-header">
          {% block header %}{% endblock header %}
        </div>
        <div>
          {% block content %}{% endblock content %}
        </div>
      </div><!--/container-->


  </body>
</html>
              